* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
}

.sub-heading {
  color: #8e9090;
  font-style: italic;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

@media screen and (max-width: 48rem) {
  * {
    font-size: 0.85rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}
